@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  align-self: flex-start; 
  padding: 3.5vw;
  margin-bottom: 10vh;
  animation: flip;
  animation-duration: 2s;
}

aside {
  width: 50vw;
  animation: slideInRight;
  animation-duration: 2s;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--form-background);
  width: 50vw;
}
form {
  width: 30vw;
  animation: slideInLeft;
  animation-duration: 2s;
}

.header-main {
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  height: 9.35vh;
  margin-bottom: 7vh;
  animation: slideInLeft;
  animation-duration: 2s;
}

.header-main h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-left: 0.8vw;
  color: var(--text-title);
}

.header-main p {
  font-family: 'Roboto', sans-serif;
  color: var(--text-base);
  font-size: 1em;
}

.input-email {
  display: flex;
  flex-direction: column; 
  margin-bottom: 6vh;
}

#email {
  background-image: url('../assets/mail.svg');
  background-position: left;
  background-position-y: center;
  background-position-x: 0.7vw;
  background-repeat: no-repeat;
  border: 0.15em solid var(--text-base);
  border-radius: 0.3em;
  height: 5vh;
  background-color: transparent;
  color: var(--text-base);
  padding-left: 3.2vw;
}

#email:focus-within {
  border-color: var(--primary-color);
  outline: none;
  color: var(--primary-color);
  background-image: url('../assets/mail-focus.svg');
}

.input-email label {  
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: var(--text-base);
}

.input-senha {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

#senha {
  background-image: url('../assets/lock.svg');
  background-position: left center;
  background-position-x: 2.5%;
  background-repeat: no-repeat;
  border: 0.15em solid var(--text-base);
  border-radius: 0.3em;
  width: 26.45vw;
  height: 5vh;
  background-color: transparent ;
  color: var(--text-base);
  padding-left: 3.2vw; 
}
.pass {
  position: relative;
}
.eye {
  position: absolute;
  top: 1.5vh;
  right: 1vw;
  cursor: pointer;
}

#senha:focus-within {
  background-image: url('../assets/lock-focus.svg');
  border-color: var(--primary-color);
  outline: none;
  color: var(--primary-color);
}

input::placeholder {
  color: var(--text-base);
}

.input-senha label {  
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: var(--text-base);
}

.lembra {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4vh;
}

.lembra label {
  font-family: 'Roboto', sans-serif;
  color: var(--text-base);
  margin-left: 0.5vw;
  margin-right: 7.15vw;
  cursor: pointer;
}

.lembra a {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  text-decoration: none;
  color: var(--primary-color);
}


.lembra input {
  appearance: none;
  background-color: transparent;
  border: 0.16em solid var(--text-base);
  cursor: pointer;
  height: 1em;
  width: 1em;
}

.lembra input:checked:focus-within {
  width: 1em;
  height: 1em;
  border: none;
  background-color: var(--primary-color);
  background-image: url('../assets/check.svg');
  background-repeat: no-repeat;
  background-size: 1em;
}

#button {
  color: var(--form-background);
  background-color: var(--primary-color);
  font-size: 1.7vw;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  width: 30vw;
  height: 7.25vh;
  border-radius: 0.25em;
}

p {
  font-family: 'Poppins', sans-serif;
  text-align: center; 
  color: var(--primary-color);
  margin-top: 3vh;
}

p a {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}